<div class="vertical-wapper block-nav-categori">
    <div class="block-title">
        <span class="icon-bar">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="text">تمامی دسته بندی ها</span>
    </div>
    <div class="block-content verticalmenu-content">
        <ul class="LCommerce-nav-vertical vertical-menu LCommerce-clone-mobile-menu">
            <li class="menu-item">
                <a href="#" class="LCommerce-menu-item-title" title="اجناس جدید">اجناس جدید</a>
            </li>
            <li class="menu-item">
                <a title="حراج فوق العاده" href="#" class="LCommerce-menu-item-title">
                    حراج فوق
                    العاده
                </a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a title="تجهیزات جانبی" href="#" class="LCommerce-menu-item-title">
                    تجهیزات
                    جانبی
                </a>
                <span class="toggle-submenu"></span>
                <ul role="menu" class=" submenu">
                    <li class="menu-item">
                        <a title="ساعت" href="#" class="LCommerce-item-title">ساعت</a>
                    </li>
                    <li class="menu-item">
                        <a title="تلویزیون و فیلم" href="#" class="LCommerce-item-title">
                            تلویزیون و
                            فیلم
                        </a>
                    </li>
                    <li class="menu-item">
                        <a title="اجناس جدید" href="#" class="LCommerce-item-title">اجناس جدید</a>
                    </li>
                    <li class="menu-item">
                        <a title="تجهیزات جانبی" href="#" class="LCommerce-item-title">
                            تجهیزات
                            جانبی
                        </a>
                    </li>
                    <li class="menu-item">
                        <a title="انبار" href="#" class="LCommerce-item-title">انبار</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a title="تلویزیون و فیلم" href="#" class="LCommerce-menu-item-title">
                    تلویزیون و
                    فیلم
                </a>
            </li>
            <li class="menu-item">
                <a title="هدفون ها" href="#" class="LCommerce-menu-item-title">هدفون ها</a>
            </li>
            <li class="menu-item">
                <a title="الکترونیک" href="#" class="LCommerce-menu-item-title">الکترونیک</a>
            </li>
            <li class="menu-item">
                <a title="تلفن همراه" href="#" class="LCommerce-menu-item-title">تلفن های همراه</a>
            </li>
            <li class="menu-item">
                <a title="دوربین" href="#" class="LCommerce-menu-item-title">دوربین</a>
            </li>
        </ul>
    </div>
</div>