<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
                <span class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                صفحه اصلی
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
                لیست علاقه مندیها
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <i class="flaticon-online-shopping-cart" aria-hidden="true"></i>
                    <span class="count-icon">
                        0
                    </span>
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="login.html">
                <span class="icon">
                    <i class="flaticon-profile" aria-hidden="true"></i>
                </span>
                حساب کاربری
            </a>
        </div>
    </div>
</div>