<div class="header-nav">
    <div class="container-wapper">
        <ul class="LCommerce-clone-mobile-menu LCommerce-nav main-menu " id="menu-main-menu">
            <li class="menu-item  menu-item-has-children">
                <a href="index.html" class="LCommerce-menu-item-title" title="صفحه اصلی">
                    صفحه
                    اصلی
                </a>
                <span class="toggle-submenu"></span>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="index.html">صفحه اصلی 1</a>
                    </li>
                    <li class="menu-item">
                        <a href="home2.html">صفحه اصلی 2</a>
                    </li>
                    <li class="menu-item">
                        <a href="home3.html">صفحه اصلی 3</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="gridproducts.html" class="LCommerce-menu-item-title"
                   title="فروشگاه">فروشگاه</a>
                <span class="toggle-submenu"></span>
                <ul class="submenu">
                    <li class="menu-item">
                        <a href="gridproducts.html">فروشگاه تمام صفحه</a>
                    </li>
                    <li class="menu-item">
                        <a href="gridproducts_leftsidebar.html">فروشگاه با ساید بار</a>
                    </li>
                    <li class="menu-item">
                        <a href="gridproducts_bannerslider.html">فروشگاه با بنر اسلایدر</a>
                    </li>
                    <li class="menu-item">
                        <a href="listproducts.html">فروشگاه لیستی</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item  menu-item-has-children item-megamenu">
                <a href="#" class="LCommerce-menu-item-title" title="صفحات">صفحات</a>
                <span class="toggle-submenu"></span>
                <div class="submenu mega-menu menu-page">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                            <div class="LCommerce-custommenu default">
                                <h2 class="widgettitle">صفحات فروشگاه</h2>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="shoppingcart.html">سبد خرید</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="checkout.html">صورتحساب</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contact.html">تماس با ما</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="404page.html">404</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="login.html">ورود/ثبت نام</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                            <div class="LCommerce-custommenu default">
                                <h2 class="widgettitle">محصول</h2>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="productdetails-fullwidth.html">محصول تمام صفحه</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="productdetails-leftsidebar.html">
                                            محصول سمت چپ
                                            سایدبار
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="productdetails-rightsidebar.html">
                                            محصول سمت راست
                                            سایدبار
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item  menu-item-has-children">
                <a href="inblog_right-siderbar.html" class="LCommerce-menu-item-title"
                   title="وبلاگ">وبلاگ</a>
                <span class="toggle-submenu"></span>
                <ul class="submenu">
                    <li class="menu-item menu-item-has-children">
                        <a href="#" class="LCommerce-menu-item-title" title="استایل وبلاگ">
                            استایل
                            وبلاگ
                        </a>
                        <span class="toggle-submenu"></span>
                        <ul class="submenu">
                            <li class="menu-item">
                                <a href="bloggrid.html">شبکه ای</a>
                            </li>
                            <li class="menu-item">
                                <a href="bloglist.html">لیستی</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#" class="LCommerce-menu-item-title" title="طرح نوشته ها">
                            طرح نوشته
                            ها
                        </a>
                        <span class="toggle-submenu"></span>
                        <ul class="submenu">
                            <li class="menu-item">
                                <a href="inblog_left-siderbar.html">سایدبار چپ</a>
                            </li>
                            <li class="menu-item">
                                <a href="inblog_right-siderbar.html">سایدبار راست</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="about.html" class="LCommerce-menu-item-title" title="درباره ما">
                    درباره
                    ما
                </a>
            </li>
        </ul>
    </div>
</div>